<!doctype html>
<html lang="en-CA">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a pages frontmatter if it has one -->
    <title>Deuterium | <%= current_page.data.title || "" %></title>
    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "main" %>
    <link rel="preload" as="font" type="font/woff" href="fonts/FiraSans/Roman/FiraSansCompressed-Regular.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff" href="fonts/FiraSans/Roman/FiraSansCompressed-Bold.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff" href="fonts/FiraSans/Italic/FiraSansCompressed-SemiBoldItalic.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff" href="fonts/FiraSans/Italic/FiraSansCompressed-MediumItalic.woff2" crossorigin>
    <%= javascript_include_tag "zepto.min", defer: true%>
    <%= javascript_include_tag "main", defer: true%>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
  </head>
  <body>
    <%= partial "partial/header" %>
    <main>
        <%= yield %>
    </main>
    <%= partial "partial/footer" %>
  </body>
</html>
