<%
  card_colour  = defined?(colour)  ? colour  : 'grey'
  card_icon    = defined?(icon)    ? icon    : nil
  card_title   = defined?(title)   ? title   : nil
  card_link    = defined?(link)    ? link    : nil
  card_content    = defined?(content)    ? content    : ''
  card_markdown   = defined?(markdown)   ? markdown   : false
  card_wide_title = defined?(wide_title) ? wide_title : false
%>
<%
  card_classes = "card card--#{card_colour}"
  card_classes += " card--wide-title" if card_wide_title
%>
<% if card_link %>
<a href="<%= card_link %>" class="<%= card_classes %>">
<% else %>
<div class="<%= card_classes %>">
<% end %>
  <% if card_icon || card_title %>
  <div class="card__header">
    <% if card_icon %><span class="card__icon"><%= card_icon %></span><% end %>
    <% if card_title %><span class="card__title"><%= card_title %></span><% end %>
  </div>
  <% end %>
  <div class="card__content">
    <% if card_markdown %>
      <%= Kramdown::Document.new(card_content).to_html %>
    <% else %>
      <%= card_content %>
    <% end %>
  </div>
  <% if card_link %>
  <div class="card__access">ACCESS →</div>
  <% end %>
<% if card_link %>
</a>
<% else %>
</div>
<% end %>
