<header>
    <h1><%= link_to 'Deuterium.ca', '/index.html'%></h1>
    <h2><%= current_page.data.title %></h2>
</header>
<nav>
    <ul>
        <li><%= link_to 'Work', '/work.html' %></li>
        <li><%= link_to 'Play', '/play.html' %></li>
        <li><%= link_to 'About', '/about.html' %></li>
        <li><%= link_to 'Contact', '/contact.html' %></li>
    </ul>
</nav>
<hr>
